[submodule "support_tools/dynamixel/DynamixelSDK"]
	path = support_tools/dynamixel/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "ros/DynamixelSDK"]
	path = ros/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble-devel
[submodule "ros/sllidar_ros2"]
	path = ros/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "ros/velodyne"]
	path = ros/velodyne
	url = https://github.com/ros-drivers/velodyne.git
	branch = humble-devel
[submodule "ros/nmea_navsat_driver"]
	path = ros/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
	branch = ros2
[submodule "ros/bno055"]
	path = ros/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "ros/turtlebot3_simulations"]
	path = ros/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
