[submodule "support_tools/dynamixel/DynamixelSDK"]
	path = support_tools/dynamixel/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "ros/sllidar_ros2"]
	path = ros/sllidar_ros2
	url = https://github.com/nobu323/sllidar_ros2
[submodule "ros/ndt_omp"]
	path = ros/ndt_omp
	url = https://github.com/nobu323/ndt_omp.git
[submodule "ros/cxd5602pwbimu_localizer_node"]
	path = ros/cxd5602pwbimu_localizer_node
	url = https://github.com/nobu323/cxd5602pwbimu_localizer_node.git
[submodule "spresense/cxd5602pwbimu_localizer_arduino"]
	path = spresense/cxd5602pwbimu_localizer_arduino
	url = https://github.com/nobu323/cxd5602pwbimu_localizer_arduino.git
[submodule "ros/livox_ros_driver2"]
	path = ros/livox_ros_driver2
	url = https://github.com/t-nagatani/livox_ros_driver2.git
[submodule "ros/fast_gicp"]
	path = ros/fast_gicp
	url = https://github.com/nobu323/fast_gicp.git
[submodule "ros/hesai_ros_driver"]
	path = ros/hesai_ros_driver
	url = https://github.com/HesaiTechnology/HesaiLidar_ROS_2.0
