<?xml version="1.0"?>
<robot name="cub" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find cub_description)/urdf/cub2023_body.xacro" />
  <!-- <xacro:include filename="$(find cub_description)/urdf/cub2023_sensors.xacro" /> -->

  <xacro:cub_body base_link="base_link" base_footprint="base_footprint"/>
  <!-- <xacro:cub_sensors parent="base_link"/> -->

</robot>