<launch>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <!-- height_map -->
    <include file="$(find velodyne_height_map)/launch/heightmap_nodelet.launch"/>
	<!-- localmap_creator -->
	<include file="$(find nav_manager)/launch/simple_localmap_creator.launch"/>
    <!-- global_path_planner -->
    <include file="$(find nav_manager)/launch/global_path_creator.launch"/>
    <!-- next_waypoint_creator -->
    <include file="$(find nav_manager)/launch/next_waypoint_creator.launch"/>
    <!-- localizer -->
    <include file="$(find ekf_localizer)/launch/ekf_localizer.launch"/>
    <!-- local_path_planner -->
    <include file="$(find state_lattice_planner)/launch/local_planner.launch"/>
    <!-- tf -->
    <include file="$(find ekf_localizer)/launch/tf_cub.launch"/>

    <!-- rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav_manager)/config/nav_manager.rviz" /> -->
</launch>
