<?xml version="1.0"?>
<launch>
    <!-- hesai LiDAR -->
    <include file="$(find hesai_lidar)/launch/hesai_lidar.launch"/>
    <!-- atom -->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial">
        <param name="port" value="/dev/ttyUSB0"/>
        <!-- <param name="baud" value="57600" /> -->
    </node>
</launch>